/* general */
* {
    box-sizing: border-box;
}

/* tags */
html {
}

body {
    font-family: Roboto400 Arial, Helvetica, sans-serif;
    width: 90vw;
    margin: 0 auto;
    /* width: 100vw; */
    height: 100vh;
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    overflow-x: hidden;
}

body.grid {
    display: grid;
    height: 100vh;
    height: 100dvh;

    grid-template-columns: 1fr 3fr;
    grid-template-rows: 70px 70vh 1fr 1fr 1fr;
    gap: 1.2rem 1.2rem;
    grid-auto-flow: row;
    grid-template-areas:
        ". header"
        "video-list main-video"
        "video-list main-video"
        "video-list main-video"
        "video-list wiki";
}

img {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.2rem 0 0.5rem 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    /* background: var(--sb-track-color);
    border-radius: 10px; */
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
}
p {
    margin: 0;
}

body.mobile body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 0;
    display: none;
    border: none;
}

/* tool-tip */
[data-title] {
    position: relative;
}

[data-title]:hover::after {
    content: attr(data-title);
    position: absolute;
    font-size: 12px;
    background: var(--sb-track-color);
    color: var(--Clr1);
    padding: 0.2em 0.3em;
    border-radius: 0.2em;
    text-transform: capitalize;
    bottom: -20px;
    width: max-content;
    left: 12px;
    z-index: 1000;
}
