@font-face {
    font-family: Roboto300;
    src: url("/fonts/Roboto-Light.ttf");
}
@font-face {
    font-family: Roboto400;
    src: url("/fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto500;
    src: url("/fonts/Roboto-MediumItalic.ttf");
}
