:root {
    /* pallete */
    --Clr1:#fff
    

    /* layout */
    --layout-padding-hor: 80px;
    --layout-padding-ver: 50px;

    /* bp */

    --l: 1060px;
    --m: 860px;
    --s: 600px;
}
