.main-video {
    grid-area: main-video;
    grid-template-rows: auto min-content;
    background: lightblue;
    width: 100%;
    height: 100%;
}
iframe {
    height: 100%;
    width: 100%;
}
