header {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: header;
    /* width: 100%; */
    /* background: lightsalmon; */
}
header input[type="search"] {
    width: 99%;
    font-size: 1em;
    padding-inline-start: 1em;
    border-radius: 100vh;
    border: none;
    box-shadow: 0 0 2px 0px #aaa;
    height: 35%;
}
header .logo {
    margin-inline-start: 2em;
}
