.vid-preview {
 grid-auto-flow: column;
 grid-template-columns: 1fr 1fr;
 gap: 0.8rem;
 cursor: pointer;
}
.vid-preview img {
 height: 100%;
 object-fit: cover;
 border-radius: var(--BR);
}
