.vid-preview {
 /* font-size: smaller; */
 grid-auto-flow: column;
 grid-template-columns: 1fr 1fr;
 gap: 0.8rem;
 cursor: pointer;
 /* max-height: 50px; */
}
.vid-preview img {
 height: 100%;
 object-fit: cover;
 border-radius: var(--BR);
}

.video-info {
 /* place-content: end; */
 grid-auto-flow: column;
 font-size: 12px;
}
